.searchContainer{
  position: relative;
  width: 100%;
  
}


.searchInput{
  width: 100%;
  background-color: var(--black-color) !important;
  padding: 10px 40px 10px 10px;
  font-size: 16px;
  box-sizing: border-box;
  border:none;
  outline: none;
}

.searchIconContainer{
  position: absolute;
  right: 10px;
  top: 50%;
  transform: translateY(-50%);
  cursor: pointer;
}

.searchIcon{
  width: 20px;
  height: 20px;
}
  
  @media (min-width:769px){
     
    .searchContainer{
        display: none !important;
    }
  }