.customSelect{
    display: flex;
    align-self: center;
    color: var(--black-color);
    background-color: var(--white-color);
    align-items: center;
    border-radius: 1.5rem;
    padding:0.3rem 0.6rem;
    height: fit-content;
    cursor: pointer;
    font-size: 14px;
}

.customSelect select{
    outline: none;
    border: none ;
}

.selectTitle{

}